*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #F0F2F2; /* Cor de fundo mais clara */
}

/* Cabeçalho e navegação */

header {
    background-color: #A9CCE3; /* Cor de fundo do cabeçalho */
    padding: 5px; /* Espaçamento interno do cabeçalho */
    display: flex; /* */
    align-items: center;
}

.menu-wrapper {
    align-items: center;
    text-align: center;
    background-color: #C1D7E5;
    padding: 10px 20px;
    margin-left: 130px;
}

div nav a {
    margin: 0 30px;
    color: #000000; /* Cor dos links no menu */
    font-size: 22px; /* Tamanho da fonte dos links */
    text-decoration: none;
    font-family: 'Extra bold', sans-serif;
    font-weight: 800;

}

.menu-wrapper {
    align-items: center;
    text-align: center;
    background-color: #C1D7E5;
    padding: 10px 20px;
    margin-left: 130px;
}

menu li a {
    margin: 0 30px;
    font-size: 22px;
    font-weight: 900;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 30px;
    position: relative;
}

div nav a {
    margin: 0 30px;
    color: #000000; /* Cor dos links no menu */
    font-size: 22px; /* Tamanho da fonte dos links */
    font-family: 'Times New Roman', Times, serif;
}

.container {
    position: relative;
    text-align: center; /* Para manter a imagem centralizada */
    
}


.retangulo-azul {
    position: relative;
    margin-top: 50px;
    left: -0%; /* Ajuste para alinhar mais à esquerda */
    background-image: url('../Imagens/img_parkinson/retangulo_azul.png'); 
    background-size: 100% 100%; /* Ajusta a imagem de fundo para ocupar toda a altura */
    padding: 10px 20px;
    color: black;
    width: 350px;
    height: 60px; /* Ajuste a altura conforme necessário */
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 900; /* Negrito */
    font-size: 40px; /* Tamanho da fonte */
    margin-top: -10px;
    padding: 20px; /* Adiciona algum espaço interno */
    color: black; /* Cor do texto */

}


.retangulo-amarelo {
    position: absolute;
    margin-top: 5px;
    right: -0%; /* Ajuste para alinhar à direita */
    background-image: url('../Imagens/img_parkinson/retangulo_amarelo.png');
    background-size: 100% 50%; /* Ajusta a largura para 100% e altura para 50% do elemento */
    padding: 10px 20px;
    padding-left: 0;
    padding-right: 0cm;
    color: black;
    width: 900px;
    
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; /* Centraliza o texto horizontalmente */
    font-weight: 900; /* Define a fonte como "black" */
    margin-top: -10px; /* Ajusta a posição vertical do título */
    font-size: 40px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    
}

.imagem-principal {
    width: 100%; /* A imagem vai ocupar 100% da largura do container */
    height: auto; /* Manter proporção */
    margin-top: 110px; /* Espaçamento superior */
    margin-bottom: 50px;
}


main{
    width: 1170px;
    margin:auto;
    margin-bottom: 50px;
}

p {
    text-align: justify;
    line-height: 1.5; /* Ajusta o espaçamento entre linhas */
    margin: 20px 0; /* Espaçamento entre parágrafos */
    font-size: large;
}

.pai-parkinson {
    display: flex;
    justify-content: space-between; /* Distribui o conteúdo igualmente com o parágrafo à esquerda e a imagem à direita */
    align-items: center; /* Alinha verticalmente o conteúdo */
    width: 100%; /* Ocupa toda a largura disponível */
}

.pai-parkinson div {
    flex: 1; /* Garante que os dois divs ocupem o mesmo espaço */
}

.pai.parkinson p {
    margin-right: 20px; /* Adiciona espaço à direita do parágrafo para não colar na imagem */
    font-family:  Arial, sans-serif; /* Mantém a fonte Arial */
}

.img-park img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho disponível */
    height: auto;
    object-fit: cover; /* Mantém a proporção da imagem */
    max-height: 400px; /* Limita a altura da imagem para não ficar muito grande */
    margin-left: 55px;
    margin-bottom: 50px;
}


/******************AQUI COMEÇA O CSS DO FOOTER**********************/

/* CONFIGURAÇÕES DO FOOTER */
footer {
    background-color: #A9CCE3; /* Cor de fundo do cabeçalho */
    padding: 5px; /* Espaçamento interno do cabeçalho */
    display: flex; 
    align-items: center;
    justify-content: space-between; /* Para espaçar os itens do footer */
}

footer h6 {
    padding: 10px;
    margin-left: 5px;
    font-family: 'Extra bold', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #0A2EA1;
}

/* Alinhar menu do footer ao centro */
.menu_footer {
    align-items: center;
    text-align: left;
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
    font-size: 22px;
}

/* Cor dos links do menu footer */
footer div ul li a {
    text-decoration: none;
    color: black;
}

/* Fazer duas colunas no menu do footer */
.lista-duas-colunas {
    display: flex; /* Usar flexbox */
    flex-wrap: wrap; /* Permitir quebra de linha */
}

.lista-duas-colunas li {
    width: 40%; /* Definir a largura de cada item da lista */
    box-sizing: border-box; /* Garantir que o padding e a borda sejam incluídos na largura */
    font-family: 'Extra bold', sans-serif; 
}

/* Para alinhar as redes sociais à direita */
.social {
    text-align: right;
    margin-right: 200px;
    
}

.social h5 {
    font-family: 'Extra bold', sans-serif; 
    font-size: 12px;
    color: black;
    margin-bottom: 5px;
    text-align: left;
    line-height: 1.4;
}


/* Estilo para a imagem das redes sociais */
.social img {
    width: 30px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 10px;
}

