body{
    background-color: #E9EDEF;
}

header {
    background-color: #A9CCE3; /* Cor de fundo do cabeçalho */
    padding: 5px; /* Espaçamento interno do cabeçalho */
    display: flex; /* */
    align-items: center;
}

.menu-wrapper {
    align-items: center;
    text-align: center;
    background-color: #C1D7E5;
    padding: 10px 20px;
    margin-left: 130px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #444;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div nav a {
    margin: 0 30px;
    color: #000000; /* Cor dos links no menu */
    font-size: 22px; /* Tamanho da fonte dos links */
    text-decoration: none;
}

.banner {
    position: relative;
    width: 100%;
    height: 200px; /* Altura do banner */
    background-image: url('../imagens/banner_home.png');/* Imagem de fundo do banner */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
    color: #fff; /* Cor do texto sobreposto */
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; /* Centraliza o texto horizontalmente */
    font-weight: 900; /* Define a fonte como "black" */
    margin-top: -20px; /* Ajusta a posição vertical do título */
}
section {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#d9d9d9;
    background-position: center;
    height: 160px;
    width: 70%;
    text-align:left; 
    margin-left: 200px;
}
h4{
    padding: 1px 70px;
}

.botao {
    display: flex;
    align-items: baseline; /* Alinha verticalmente a imagem e texto */
    border: none;
    padding: 0px; /* Espaçamento interno */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    position: absolute;

}

.botao1 {
    top: 495px;/* Distância do topo */
    left: 300px; /* Distância da esquerda */
}
.botao2 {
    top: 495px;
    left: 450px;
}
.botao3 {
    top: 495px;
    left: 600px;
}

.botao4 {
    top: 495px;
    left: 750px;
}
.botao5 {
    top: 495px;
    left: 900px;
}


.cerebro{
    height: 700px; /* Altura do banner */
    width: auto;
    background-image: url('../imagens/cerebro_hub.png');/* Imagem de fundo do banner */
    background-position: center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
    margin-left: 40px;
    padding: 0;
}


footer{
    background-color: #A9CCE3; /* Cor de fundo do cabeçalho */
    padding: 5px; /* Espaçamento interno do cabeçalho */
    display: flex; 
    align-items: center;
  
}
footer h6{
    /*background-color: aqua;*/
    padding: 10px;
    margin-left: 5px;
    font-family: 'Extra bold', sans-serif; /* Substitua pelo nome da sua fonte */
    font-weight: 800;
    font-size: 18px;
    color:#0A2EA1;
}

.menu{
    align-items: center;
    text-align: left;
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
    font-size: 22px;
}

div ul li a{
    text-decoration: none;
    color: black;
}

.lista-duas-colunas {
    display: flex; /* Usar flexbox */
    flex-wrap: wrap; /* Permitir quebra de linha */
}

.lista-duas-colunas li {
    width: 40%; /* Definir a largura de cada item da lista */
    box-sizing: border-box; /* Garantir que o padding e a borda sejam incluídos na largura */
    font-family: 'Extra bold', sans-serif; /* Substitua pelo nome da sua fonte */
}
footer main{
    margin-right: 2px;
    padding:5px;
    margin: 5px;
}


