 /*{
  margin: 0;
  Padding: 0;
  }*/

body{
  background-color: #E9EDEF;
}

header {
  background-color: #A9CCE3; /* Cor de fundo do cabeçalho */
  padding: 5px; /* Espaçamento interno do cabeçalho */
  display: flex; /* */
  align-items: center;
}

/* para centralizar o menu do header*/
.menu{
  display: flex;
  justify-content: center ;
  background-color: #C1D7E5;
  list-style-type: none;
  padding: 10px;
  margin:5;
  margin-left:80px;
  
}


.menu li a  {
  margin: 0 30px;
  font-size: 22px;
  font-weight: 900;
  color:rgb(0, 0, 0);
  text-decoration: none;
  margin-right: 30px; /* Espaçamento entre os itens */
  position: relative; /* Necessário para o sub-menu */
}

.submenu {
  display: none;  /*Esconde o submenu inicialmente*/ 
  position: absolute; /* Coloca o submenu em relação ao item pai */
  background-color:#C1D7E5;
  font-size: 20px;
  font-weight: 900;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1; /* Para garantir que o submenu fique acima de outros elementos */
}

.submenu li a{
  /*display: block;*/
  text-decoration: none;
  color: #000000;
  padding: 4px 6px;

}

.submenu li:hover {
  background-color: #E9EDEF; /* Cor do item do sub-menu ao passar o mouse */
}

.menu > li:hover .submenu{
  display: block; /* Mostra o submenu ao passar o mouse */
}

/* body da página*/
#imagem
{
    max-width: 100%; /* Largura de 300 pixels */
    height: auto; /* Altura de 200 pixels */
    margin-top: 40px; /* margem no topo */
    margin-bottom: none; /* margem na parte inferior */
}

h2 {
  display: flex;
  flex-direction: column; /* Alinhar os elementos verticalmente */
  align-items: center;    /* Centralizar horizontalmente */
  justify-content: center; /* Centralizar verticalmente */
  color: #0A2EA1; /* Cor do texto */
  font-size: 36px; /* Tamanho da fonte */
  font-weight:800; /* Define o texto como extra bold */
  margin-top: 40px;
  font-family: 'Inter', sans-serif;
}

form {
  display: flex;
  align-items: center;/* Centralizar horizontalmente */
  justify-content: center; /* Centralizar verticalmente */
  height: 95vh;  /* Ocupa toda a altura da viewport */
  font-family: 'Inter', sans-serif;

}

input,
textarea {
  border: none;
  width: 520px;
  padding: 5px;
  background-color: #D9D9D9; /* Cor do texto */
  font-size: 20px; /* Tamanho da fonte */
  border-radius: 5px; /* Arredondamento das bordas */
  font-family: 'Inter', sans-serif;
}

/* Agrupamento das labels e inputs */
.form_group label {
    display: flex;
    flex-direction: column; /* Coloca os elementos verticalmente */
    margin-top: 1px
}    

label {
  color: #0A2EA1; /* Cor do texto */
  font-size: 24px; /* Tamanho da fonte */
  font-weight:800; /* Define o texto como extra bold */
  margin-bottom: none; 
  font-family: 'Inter', sans-serif;
}

.button {
  display: flex;
  flex-direction: column; /* Alinhar os elementos verticalmente */
  align-items: center;    /* Centralizar horizontalmente */
  justify-content: center; /* Centralizar verticalmente */
  height: 10vh;  /* Ocupa toda a altura da viewport */
}

#button {
  color: #D9D9D9; /* Cor do texto */
  font-size: 20px; /* Tamanho da fonte */
  font-weight:800; /* Define o texto como extra bold */
  background-color: #0A2EA1; /* Cor de fundo do botão */
  font-family: 'Inter', sans-serif;
  padding: 5px 1%; /* Espaçamento interno */
  border: none; /* Remover a borda padrão */
  cursor: pointer; /* Muda o cursor ao passar sobre o botão */
  width: 110px; /* Largura do botão */
  height: 35px; /* Altura do botão */
  text-align: center; /* Centraliza o texto dentro do botão */
  border-radius: 5px; /* Arredondamento das bordas */
  margin-top: 30px;
  margin-bottom: 100px;
}

button:hover {
  background-color: #0A2EA1;
  opacity: 0.7;
}

/* CONFIGURAÇÕES DO FOOTER*/
footer{
  background-color: #A9CCE3; /* Cor de fundo do cabeçalho */
  padding: 5px; /* Espaçamento interno do cabeçalho */
  display: flex; 
  align-items: center;

}

footer h6{
  padding: 10px;
  margin-left: 5px;
  font-family: 'Extra bold', sans-serif; /* Substitua pelo nome da sua fonte */
  font-weight: 800;
  font-size: 18px;
  color:#0A2EA1;
}

/*alinhar menu do footer ao centro*/
.menu_footer {
  align-items: center;
  text-align: left;
  text-decoration: none;
  color: #000000;
  margin-left: 20px;
  font-size: 22px;
}

/* cor do menu footer*/
footer div ul li a{
  text-decoration: none;
  color: black;
}

/*fazer duas colunas no menu do footer*/
.lista-duas-colunas {
  display: flex; /* Usar flexbox */
  flex-wrap: wrap; /* Permitir quebra de linha */
  justify-content: center;
}

.lista-duas-colunas li {
  width: 40%; /* Definir a largura de cada item da lista */
  box-sizing: border-box; /* Garantir que o padding e a borda sejam incluídos na largura */
  font-family: 'Extra bold', sans-serif; /* Substitua pelo nome da sua fonte */

}

/*para alinhar as redes sociais a direita*/
footer main{
  margin-right: 2px;
  padding:5px;
  margin: 5px;
}
