/******************AQUI COMEÇA O CSS DO FOOTER**********************/


/* CONFIGURAÇÕES DO FOOTER*/
footer{
    background-color: #A9CCE3; /* Cor de fundo do cabeçalho */
    padding: 5px; /* Espaçamento interno do cabeçalho */
    display: flex; 
    align-items: center;
  
}

footer h6{
    padding: 10px;
    margin-left: 5px;
    font-family: 'Extra bold', sans-serif; /* Substitua pelo nome da sua fonte */
    font-weight: 800;
    font-size: 18px;
    color:black;
}

/*alinhar menu do footer ao centro*/
.menu_footer {
    align-items: center;
    text-align: left;
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
    font-size: 22px;
}

/* cor do menu footer*/
footer div ul li a{
    text-decoration: none;
    color: black;
}

/*fazer duas colunas no menu do footer*/
.lista-duas-colunas {
    display: flex; /* Usar flexbox */
    flex-wrap: wrap; /* Permitir quebra de linha */
}

.lista-duas-colunas li {
    width: 40%; /* Definir a largura de cada item da lista */
    box-sizing: border-box; /* Garantir que o padding e a borda sejam incluídos na largura */
    font-family: 'Extra bold', sans-serif; /* Substitua pelo nome da sua fonte */
}

/*para alinhar as redes sociais a direita*/
footer main{
    margin-right: 2px;
    padding:5px;
    margin: 5px;
}